.Servicios{
  width: 100%;
  text-align: center;
  margin: 5em 0em;
}
.ImagenesS{
  width: 80%;
  display: flex;
  margin-left: 10%;
}
.ImgSer{
  width: 70%;
  height: auto;
  padding: 1vw;
}

@media screen and (max-width: 768px) {
  .Servicios{
    width: 100%;
    text-align: center;
    font-size: 3vw;
    color: black;
  }
  .ImagenesS{
    width: 80%;
    display: block;
    padding: 0;
    margin-left: 20%;
  }
  .ImgSer{
    width: 70%;
    height: auto;
    padding: 1vw;
  }
}
